In [26]:
import numpy as np
import pandas as pd
from astropy.time import Time
import re

This notebook provides an example of how to search for information on an INT target in the observing log file

In [3]:
# load the observing log file
fname = "df_INT_obs.csv"
df = pd.read_csv(fname, index_col=0)

In [4]:
df

,Run,Object,RA,Dec,Equinox,UT,Airm,Instr,Texp sec,Sky PA,...,Slit,Grat,CenwA,Comments,night,date,mjd,RA_deg,Dec_deg,search_group
0,1601822,NEREUS,15:05:18.19,-22:00:02.0,2000.0,04:11,1.72,3 WFC,60.00,180.0,...,NaN,NaN,NaN,mirror closed,20220302,20220303,59641.174306,226.325792,-22.000556,0.0
1,1601823,NEREUS,15:05:18.15,-22:00:02.3,2000.0,04:14,1.71,3 WFC,59.60,180.0,...,NaN,NaN,NaN,NaN,20220302,20220303,59641.176389,226.325625,-22.000639,0.0
2,1601824,NEREUS,15:05:18.10,-22:00:02.6,2000.0,04:16,1.70,4 WFC,60.10,180.0,...,NaN,NaN,NaN,NaN,20220302,20220303,59641.177778,226.325417,-22.000722,0.0
3,1601825,NEREUS,15:05:18.06,-22:00:03.0,2000.0,04:19,1.69,6 WFC,59.50,180.0,...,NaN,NaN,NaN,looking for asteriod,20220302,20220303,59641.179861,226.325250,-22.000833,0.0
4,1601826,NEREUS,15:05:18.02,-22:00:03.3,2000.0,04:22,1.68,7 WFC,60.10,180.0,...,NaN,NaN,NaN,NaN,20220302,20220303,59641.181944,226.325083,-22.000917,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4444,1661478,NAKANOTADAO,13:39:10.60,-04:10:44.6,2000.0,06:08,1.74,WFC,60.02,180.0,...,NaN,NaN,NaN,NaN,20230318,20230319,60022.255556,204.794167,-4.179056,150.0
4445,1661479,NAKANOTADAO,13:39:10.55,-04:10:44.2,2000.0,06:09,1.75,WFC,60.02,180.0,...,NaN,NaN,NaN,NaN,20230318,20230319,60022.256250,204.793958,-4.178944,150.0
4446,1661480,NAKANOTADAO,13:39:10.51,-04:10:43.5,2000.0,06:11,1.77,WFC,60.05,180.0,...,NaN,NaN,NaN,NaN,20230318,20230319,60022.257639,204.793792,-4.178750,150.0
4447,1661481,NAKANOTADAO,13:39:10.46,-04:10:43.0,2000.0,06:13,1.78,WFC,60.15,180.0,...,NaN,NaN,NaN,NaN,20230318,20230319,60022.259028,204.793583,-4.178611,150.0
4448,1661482,NAKANOTADAO,13:39:10.43,-04:10:42.5,2000.0,06:15,1.80,WFC,60.08,180.0,...,NaN,NaN,NaN,NaN,20230318,20230319,60022.260417,204.793458,-4.178472,150.0

In [12]:
# How many observations were made of each target?
df.value_counts("Object")

Object
169P           649
172P           499
388188         341
162P           288
7P             234
143P           225
DIDYMOS        198
NAKANOTADAO    186
1998SV65       185
1997WB22       159
2000RD101      145
FUCHIE         141
10P            141
15P            132
137P           120
90403          110
150P            95
85275           78
98943           68
121P            67
88992           51
C2017K2         43
29P             42
7891            41
1998BU14        29
26P             29
189P            28
73P             27
NEREUS          20
67P             18
ROBINSON        11
300P            10
C2020K1          7
9P               7
81P              6
22P              6
108P             6
C2020E3          4
C2021Y1          3
Name: count, dtype: int64

In [17]:
# Look up observing information for a target of a particular number or designation
obj_num = "388188"
obj_des = "DP14" # we can pass a partial string to search, e.g. the full designation is 2006 DP14

In [20]:
mask = (df["Object"].str.contains(obj_num)) | (df["Object"].str.contains(obj_des, flags = re.IGNORECASE))

In [22]:
_df = df[mask]
_df

,Run,Object,RA,Dec,Equinox,UT,Airm,Instr,Texp sec,Sky PA,...,Slit,Grat,CenwA,Comments,night,date,mjd,RA_deg,Dec_deg,search_group
421,1602395,388188,9:04:04.02,+02:50:08.2,2000.0,21:31,1.24,0 WFC,60.0,180.0,...,NaN,NaN,NaN,NaN,20220306,20220306,59644.896528,136.016750,2.835611,25.0
422,1602396,388188,9:04:04.02,+02:50:08.2,2000.0,21:33,1.23,5 WFC,60.0,180.0,...,NaN,NaN,NaN,NaN,20220306,20220306,59644.897917,136.016750,2.835611,25.0
423,1602397,388188,9:04:04.02,+02:50:08.2,2000.0,21:35,1.23,1 WFC,59.5,180.0,...,NaN,NaN,NaN,NaN,20220306,20220306,59644.899306,136.016750,2.835611,25.0
424,1602398,388188,9:04:04.02,+02:50:08.3,2000.0,21:36,1.22,6 WFC,60.1,180.0,...,NaN,NaN,NaN,NaN,20220306,20220306,59644.900000,136.016750,2.835639,25.0
425,1602399,388188,9:04:04.02,+02:50:08.3,2000.0,21:38,1.22,2 WFC,60.0,180.0,...,NaN,NaN,NaN,NaN,20220306,20220306,59644.901389,136.016750,2.835639,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1073,1603160,388188,9:00:28.44,+03:31:27.9,2000.0,00:51,1.24,1 WFC,60.1,180.0,...,NaN,NaN,NaN,NaN,20220309,20220310,59648.035417,135.118500,3.524417,73.0
1074,1603161,388188,9:00:28.43,+03:31:27.9,2000.0,00:53,1.24,5 WFC,60.1,180.0,...,NaN,NaN,NaN,NaN,20220309,20220310,59648.036806,135.118458,3.524417,73.0
1075,1603162,388188,9:00:28.44,+03:31:27.9,2000.0,00:54,1.24,9 WFC,60.1,180.0,...,NaN,NaN,NaN,NaN,20220309,20220310,59648.037500,135.118500,3.524417,73.0
1076,1603163,388188,9:00:28.44,+03:31:27.9,2000.0,00:56,1.25,3 WFC,60.0,180.0,...,NaN,NaN,NaN,NaN,20220309,20220310,59648.038889,135.118500,3.524417,73.0
1077,1603164,388188,9:00:28.43,+03:31:27.9,2000.0,00:57,1.25,7 WFC,59.5,180.0,...,NaN,NaN,NaN,NaN,20220309,20220310,59648.039583,135.118458,3.524417,73.0

In [27]:
# find the time span of the observations
t1 = np.amin(_df["mjd"])
t2 = np.amax(_df["mjd"])

In [29]:
Time(t1,format="mjd").iso

'2022-03-06 21:31:00.000'

In [30]:
Time(t2,format="mjd").iso

'2022-03-10 00:57:00.000'

In [31]:
# On what nights was this target observed?
nights = np.unique(_df["night"])

In [33]:
nights

array([20220306, 20220307, 20220308, 20220309])